
fm = Microsoft yahei,arial;

/*w1200 = 80%;*/
slideW = 15%;
paginWid = 34px;
avatorWid = 148px;
linkMenuWid = 134px;

h150 = 150px;

bors1 = solid 1px;


mauto = 0 auto;
m10 = 10px;
mt30 = 30px;

p20 = 20px;
p10 = 10px;

avatorTop = 150px;
avatorBot = 50px;


fs12 = 12px;
fs14 = 14px;
fs18 = 18px;
fs24 = 24px;
fs32 = 32px;

lh20 = 20px;
lh30 = 30px;
lh40 = 40px;



fr = right;

cwhite = #dddbdb;
bgBlack = #212121;
slideBg = #343434;
activeCol = #80abd6;

boxSha = 2px 2px 10px #101010;

linkMenuBg = #484848;
linkListJtSize = 7px;

*
	padding 0
	margin 0

body
	background #1d1d1d
	font-family fm
html,body
	height 100%

li
	list-style none




border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments
box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

.h150
	height h150

.bgblack
	background bgBlack
.cwhite
	color cwhite
@import "slide";
@import "list";


