.list
	color cwhite
	padding-left 3vw
	padding-top 5vh
	background slideBg
	width 18.3%
	height 100vh
.list h4 i
	margin-right m10

.list .nameList
	margin-top mt30
.list .nameList li
	border-bottom solid cwhite 1px
	font-size fs14
	height lh40
	line-height lh40
.list .anCat
	margin-top 15vh