.slide
	/*position fixed
	height 100%
	left 0
	top 0
	width 360px*/
	background slideBg

.avatar_img
	display block
	width avatorWid
	height @width
	border-radius @width
	margin avatorTop auto avatorBot
	margin-top avatorTop

.avatar_name
	text-align center
	font-size fs24
	color cwhite

.linkMenu
	width linkMenuWid
	margin avatorBot auto 0



.iconfont.icon-mulu
	font-size fs32
	color cwhite
	text-align center
	cursor pointer

.linkList
	position relative
	margin-top mt30
	display none
.linkListJt
	position absolute
	display block 
	width 0
	height 0
	top -(linkListJtSize)
	left 50%
	margin-left -(linkListJtSize/2)
	border-top none
	border-left solid linkListJtSize transparent
	border-right solid linkListJtSize transparent
	border-bottom solid linkListJtSize linkMenuBg
.linkList ul
	width linkMenuWid
	padding p20 0	
	background linkMenuBg
	text-align center

.linkList li
	line-height lh30
.linkList ul a
	color cwhite
	text-decoration none


	