.slide
	position fixed
	height 100%
	left 0
	top 0
	width 360px
	background slideBg

.avatar_img
	display block
	width avatorWid
	height @width
	border-radius @width
	margin avatorTop auto avatorBot
	margin-top avatorTop

.avatar_name
	text-align center
	font-size fs24
	color cwhite

.linkMenu
	width linkMenuWid
	margin avatorBot auto 0

.homeIco
	width 50px 
	height 50px
	background #fff
	margin 0 auto

.linkList ul
	width linkMenuWid
	padding p20 0	
	background linkMenuBg
	text-align center

.linkList ul a
	color cwhite
	