<section class="list hidden-xs col-md-2" style="display:block">
	<h4><i class="iconfont icon-biaoti"></i>系列文章</h4>
	<ul class="nameList">
		<% for(var i=0;i<theme.catNum;i++) {%>

			<li><%= site.categories %></li>
			<% alert(site);%>
		<% } %>
		
	</ul>
	<h4 class="anCat"><i class="iconfont icon-biaoti"></i>其他分类</h4>
	<ul class="nameList">
		<% for(var i=0;i<theme.catNum;i++) {%>

			<li><%= site.categories %></li>

		<% } %>
		
	</ul>
</section>                       