<section class="slide hidden-xs col-md-2" style="display:block">
	<div class="avatar">
		<img class="avatar_img" src="<%= theme.avatar%>" />
		<p class="avatar_name"><%= config.author %></p>
	</div>
	<div class="linkMenu">
		<div class="iconfont icon-mulu"></div>
		<div class="linkList">
			<i class="linkListJt"></i>
			<%- partial("menu") %>
		</div>
	</div>

</section>                       