@import "_partial/base";

.post
	width w1200
	border-radius 5px
	background bgBlack
	border bors1 #3b3a3a
	box-shadow boxSha
	margin mauto
	margin-top 30px
	padding p20
	overflow hidden

.post .post-title 
	padding-bottom p10
	font-size fs18
.post
	p
	 color cwhite
	 line-height lh20
	 font-size fs14

.post .post-title-link
	 color cwhite
	 text-decoration none

.post .post-meta
	 float fr
	 padding-top p10
	 font-size fs12
	 color #b6b6b6

.pagination
	text-align center
	padding-top p20
.page-number,.space
	 display inline-block
	 width paginWid
	 height @width
	 border-radius @width
	 background bgBlack
	 box-shadow boxSha
	 text-align center
	 line-height @width
	 color cwhite
	 font-size fs14
	 text-decoration none
	 margin-right m10
.current
	color bgBlack
	background cwhite
.extend
	display inline-block
	width 87px 
	height paginWid
	background bgBlack
	border-radius @height
	box-shadow boxSha
	text-align center
	line-height @height
	text-decoration none
	color cwhite
	font-size fs14
	margin-right m10
